.site-title
  text-align: center

.site-title h1
  font-family: "Idlewild A" "Idlewild B" sans-serif
  font-size: 4em

.site-title h3
  font-family: "Archer A" "Archer B" serif
  font-style: italic
  font-size: 1em