//
   Created by tom on 10/13/14.
template(name="layout")
   .container
      header.navbar
         .navbar-inner
            a.brand(href="{{pathFor 'checkins'}}") porta.tv
      #main.row-fluid
         +yield

