//
   Created by tom on 10/13/14.
template(name="checkin")
   div(class="checkin")
      div(class="show-name") #{showName}
      div(class="identifier") #{identifier}
      div(class="timestamp") #{timestamp}
