//
   Created by tom on 10/14/14.
template(name="home")
   .home
      .page-header.site-title.center-block
         h1 #{ siteTitle }
         h3 #{ pronunciationGuide }
      .input-group
         span.input-group-addon Series
         input#show-name.form-control.typeahead(type="text" name="series" autocomplete="off" spellcheck="off" data-source="seriesnames")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet elit arcu. Praesent aliquam metus ipsum, gravida aliquet velit interdum at. Aliquam tincidunt lectus ac varius congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut commodo hendrerit rutrum. In quis ante nibh. Mauris ornare magna eu ligula sagittis dictum. Suspendisse nulla augue, semper id maximus vel, ultrices et lorem. Nunc leo ante, convallis ac commodo consequat, iaculis nec ante. Integer lacinia nec ex vitae maximus. Ut turpis felis, dictum sit amet justo quis, vehicula lobortis nunc. Donec faucibus quis orci eget aliquam.
      p Quisque sed laoreet nisl, eu ullamcorper orci. Donec eget purus ut dolor malesuada euismod vel a lacus. Nullam convallis varius nisi et posuere. Mauris ut eleifend mauris, quis aliquam metus. Suspendisse non libero quis metus convallis sollicitudin. Aliquam ante sapien, dignissim et tellus eu, suscipit varius libero. Suspendisse potenti. Vestibulum sit amet scelerisque velit, non maximus magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      p Donec malesuada neque vitae eros aliquam, elementum efficitur arcu eleifend. Suspendisse velit nulla, efficitur convallis orci sit amet, elementum convallis risus. Nam euismod condimentum lobortis. Suspendisse a nibh nec mi scelerisque vestibulum eu ut lacus. Duis dignissim quam convallis feugiat ultrices. Etiam pellentesque, risus ac semper laoreet, nunc quam faucibus ligula, ut dictum nisl lectus vitae nulla. Sed semper faucibus justo a pulvinar. Mauris hendrerit sem malesuada, fermentum nulla sed, fringilla turpis. Aenean suscipit accumsan maximus. Phasellus fermentum purus tempus pretium iaculis. Cras semper, felis vitae rhoncus efficitur, mauris ante sodales tellus, eu efficitur ipsum sem et urna.
      p Duis eleifend scelerisque mauris, ullamcorper scelerisque quam hendrerit eu. Nunc eleifend dolor tortor, eu aliquet ante scelerisque at. Duis accumsan aliquet nulla at maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus fermentum eros in enim posuere malesuada. Vivamus sodales bibendum ante non facilisis. Integer purus dolor, maximus tempus blandit at, viverra consectetur justo. Vivamus non arcu eget metus aliquam laoreet. Morbi a sollicitudin ex, tincidunt vulputate massa.
      p Fusce sodales nulla vitae eleifend sodales. Etiam fringilla venenatis finibus. Sed vel facilisis lorem. Integer et consectetur urna. Integer non lobortis neque. Suspendisse mattis, sem vel fringilla blandit, nulla sem commodo mi, vel tempor erat eros id diam. Vestibulum et condimentum justo. Aliquam rhoncus nisl in nisi tempor, sit amet blandit augue rhoncus. Quisque non odio lacus.
